body{
    padding: 30px;
}
header{
    display: flex;
    flex: 1;
    gap: 120px;
} 
footer{
    display: flex;
    text-align: center;
    justify-content: center;
    /* gap: 100px; */
}
/* ul{
    list-style-type: none;
    gap: 50px;
/* } */
/* section{
    display: flex;
} */